.top-bar {
  display: flex;
  height: 2rem;
  justify-content: space-between;
  align-items: center;
}

.lane {
  background-color: #d8d8d8;
  border-radius: 0.5rem;
  min-width: 20rem;
  padding: 1rem;
  margin: 1rem;
  align-self: flex-start;
}

.create-task-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 4rem;
}
